*{
    padding: 0;
    margin: 0;
   
}
html{ width: 100%;}
.macbookair{
    background-image: url("../images/home/macbookari.png");
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
   
}
.iphone13{
    background-image: url("../images/home/Adv_3.jpg");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    

}
